composer.phar
composer.json
composer.lock
/vendor/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
